@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --text_light_gray:#2d2d2db1;
}
/* Shared Relative Style */
.work_sans_google_font {
    font-family: "Work Sans", sans-serif;
    
}
.w_1300{
    max-width: 1300px;
    width: 81.25%;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display_flex{
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.primary_btn{
    border: none;
    background-color: orange;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
}
.bg_color{
    background-color: #a9a6a6b1;
}
.bg_white{
    background-color: #fff;
}
.text_color_black{
    color: #000;
}

/* header_top_part rerlative style */
.header_top_part{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}
.nav_logo_title{
    font-size: 1.8rem;
}
.menu{
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.list_item_link{
    color: var(--text_light_gray);
}
/* header bottom part relative style */
.header_bottom_part{
    padding-top: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
}
.rank{
    color: rgba(0, 0, 255, 0.505);
    border-radius: 30px;
    padding: 5px 15px;
    border: 1px solid var(--text_light_gray);
    margin-bottom: 2rem;
}
.banner_title{
    font-size: 4rem;
    line-height: 5rem;
}
.gradient_color { 
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, rgb(66, 66, 176), rgba(224, 157, 32, 0.701));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_info{
    color: var(--text_light_gray);
    margin: 1rem 0;
    width: 33rem;
}
.banner_btn{
    align-items: center;
    justify-content: start;
    gap: 2rem;
}
.banner_card_container{
    justify-content: space-between;
    align-items: start;
    gap: 25px;
    margin-top: 50px;
}
.banner_card_title{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.cbanner_card_info{
    font-size: 12px;
    color: var(--text_light_gray);
}
.banner_image{
    position: relative;
}
.banner_image img{
    transform: scaleX(1.5) scaleY(2);
    vertical-align: middle;
    border-radius: 20px;
    position: absolute;
    bottom: -60%;
    right: 17%; 
    z-index: 1;       
}
.img_b_box{
    z-index: 3;
    position: absolute;
    top: 55px;
    right: 0%;
    width: 11rem;
    align-items: center;
    gap: 10px;   
    padding: 10px;
    border-radius: 10px;
}
.img_b_box_text{
    font-size: 10px;
    line-height: 20px;
}
.img_b_box_text h5{
    font-size: 1rem;
}
